body {
    text-align: center;
}

h1 {
    font-size: 30px !important;
}

button {
    font-size: 20px !important;
}

.btn-info:hover {
    background-color: aqua;
    color: black;
}

canvas {
    border: 2px solid yellow;
    animation: Example 5s infinite;
}

@keyframes Example {
    from{box-shadow: 5px 5px 15px crimson;}
    to{box-shadow: 5px 5px 15px royalblue;}
}